HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/.mvn

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/acuario-app/node_modules
npm-debug.log
yarn-error.log
*.mjs
# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
acuario-app/.angular/*
.sass-cache/
acuario-app/connect.lock
acuario-app/coverage
acuario-app/libpeerconnection.log
testem.log
acuario-app/typings

# System files
.DS_Store
Thumbs.db
