<div class="container p-4">
    <full-calendar [options]="calendarOptions"></full-calendar>
</div>

<ng-template #modalVerEvento let-modal>
    <div class="modal-header">
        <h4 class="modal-title">
            <span></span>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="modal-body">
        <p> <span></span></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>

    </div>
</ng-template> 

<ng-template #modalEliminarEvento let-modal>
    <div class="modal-header">
        <h4 class="modal-title">
            <span></span>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="modal-body">
        <p> <span></span></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>

    </div>
</ng-template> 